{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "comma-dangle": "off",
    "require-jsdoc": "off",
    "spaced-comment": "off",
    "max-len": "off",
    "eol-last": 0
  },
  // установил пакет eslint-config-google
  "extends": ["eslint:recommended", "google"]
}